.NewUserForm{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 72px;
    font-family: sans-serif;
}

.NewUserFormBody{
    width: 48vw;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    border: 1px solid #dee1e6;
}

.InputContainer{
    width: 58%;
    height: 90%;
    margin-left: 20px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}
.TextLogo{
    font-weight: bold;
    font-size: 20px;
}
.TextLogo1{
    font-weight: 200px;
    font-size: 23px;
    margin-top: 17px;
}
.TextLogo2{
    margin-top: 16px;
    color: rgb(45, 40, 40);
}

.NameContainer{
    margin-top: 32px;
    display: flex;
    justify-content:flex-start;
    gap: 15px;
}
.InputName{
    width: 160px;
    height: 30px;
}

.EmailContainer{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.InputGmail{
    width: 338px;
    height: 30px;
}
.EmailBelowText{
    padding-top: 14px;
    padding-left: 7px;
    font-size: 11px;
    color:  rgb(103, 99, 99);
}

.PasswordContainer{
    margin-top: 16px;
    display: flex;
    justify-content:flex-start;
    gap: 15px;
}
.InputPassword{
    width: 160px;
    height: 32px;
}

.TextBelowPassword{
    margin-top: 15px;
    margin-left: 7px;
    width: 285px;
    font-size: 11px;
    color: rgb(103, 99, 99);
}

.CheckBoxContainer{
    margin-top: 10px;
    font-size: 14px;
    font-weight:lighter;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    gap: 10px;
}

.CreateAccount{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
    margin-top: 36px;
    gap: 160px;
}
.LoginLink{
    color: #2d78da;
    text-align: center;
    font-size: 15px;
    font-weight: 900px;
    border-radius: 5px;
}
.CreateAccountButton{
    width: 85px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(26,115,232,255);
    border-radius: 5px;
    color: #ffffff;
    border: none ;
}


.ImageConatiner{
    width: 32%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    color: rgb(103, 99, 99);
}
.Image{
    height:244px;
    width:244px;
}  