.SwitchInputBox {
    margin: 7vw 1vw 1vw 36vw;
}

.DashboardNoteBox {
    width: 70vw;
    height: 100%;
    margin-right: 8vw;
    float: right;
    display: flex;
    flex-flow: row wrap;
    column-gap: 2vw;
    gap: 1.2vw;
}